<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Информация</title>
	<meta name="viewport" width="device-width">
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="components/vue/dist/vue.js"></script>
</head>
<body>
	<%- body %>
</body>
</html>